    .movies {
    background: white;
    }

    .sort-options {
      display: flex;
      align-items: center;
      justify-content: center;
      padding:  0.5rem;
      margin-bottom: 1rem;
      border-radius: 10px;
    }

    .sort-options label {
      margin-right: .5rem;
      font-weight: 600;
    }

    .sort-options select {
      font-size: 1rem;
      padding: 0.25rem 0.5rem;
      border: none;
      border-radius: 5px;
      background-color: #FFFFFF;
      cursor: pointer;
    }

    .sort-order {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    .sort-order select {
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      background-color: #FFFFFF;
      cursor: pointer;
    }

    .movies-list {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        max-width: 80vw;
        line-height: 1rem;
        padding: 1rem 3rem;
        list-style: none;
    }

    .movie-item {
      width: 25%;
      padding: 10px;
    }

    .movie-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      height: 30rem;
      padding: 10px;
      border: 1px solid #CCCCCC;
      border-radius: 10px;
      gap: .5rem;
    }

    .movie-container img {
      width: 100%;
      max-width: 200px;
      height: 65%;
      margin: 0 auto 10px auto;
      border-radius: 10px;
    }

    .movie-container h3 {
      font-size: medium;
    }

    span {
      font-weight: 500;
      font-size: small;
    }

    p {
      font-size: small;
    }

    .pagination {
      display: flex;
      justify-content: center;
      background: #ffffff;
      padding-bottom: 2rem;
    }

    .pagination button {
      width: 2rem;
      padding: 5px 10px;
      margin: 0 3px;
      border: 1px solid #CCCCCC;
      border-radius: 5px;
      background-color: transparent;
      color: #716beacc;
      cursor: pointer;
    }

    .pagination button:hover {
        border-color: #716beacc;
        transform: scale(1.1);
    }

    button.paginationArrow {
      display: flex;
      align-items: center;
      border-color: #716beacc;
    }


    .pagination button.active,
    button.paginationArrow:hover {
      background-color: #716bea;
      border-color: #716beacc;
      color: white;
      transition: .7s;
    }


    @media  only screen and (max-width: 1200px) {
      .movies-list {
          min-width: 100vw;
          padding: 2rem;
      }
    }

    @media  only screen and (max-width: 900px) {
      .movie-container img {
        height: 55%;
      }
    }

    @media screen and (max-width: 768px) {

      .sort-options label {
        margin-right: .3rem;
        font-size: .9rem;
      }

      select {
        max-width: 10rem;
      }

      .sort-order {
        margin-left: 2rem;
      }

      .movie-item {
          width: 50%;
      }
    }

    @media screen and (max-width: 480px) {

      select {
        max-width: 5rem;
      }

      .movie-item {
          width: 100%;
      }

      .movie-container {
        height: 25rem;
      }

      .movie-container img {
        height: 60%;
      }
    }
